.nav-item{
    color: #10480D;
}
.carousel {
    width: 100%; /* Full width */
    height: 100vh; /* Viewport height, so it takes up the full height of the screen */
    overflow: hidden;
}

.carousel-item img {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Ensures the image scales while maintaining aspect ratio */
}
.carousel {
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    position: relative; /* Ensures proper alignment of children */
}

.carousel-inner {
    width: 100%;
    height: 100%; /* Ensure it takes the full height of the carousel */
}

.carousel-item {
    width: 100%;
    height: 100%; /* Matches parent height */
    align-items: center;
    justify-content: center;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Dancing Script', serif;
    color: #10480D;
    text-align: center;
  }
.title{
    text-align: center;
    border-radius: 5px;
    border-color:#F8CCDA;
    background-color: #F8CCDA;
    margin-bottom: 0px;
    margin-top: 0px;
}
#navbar{
    background-color: darkgray;
    margin-bottom: 0px;
    margin:0px;
    padding-bottom: 0px;
}
#rsvpform{
    background-color: darkgrey;
    border-radius: 5px;
}
.card-title{
    color: #10480D;
}
.card{
    background-color: darkgray;
}
.nav-item:hover{
    background-color: #F8CCDA;
    border-radius: 10px;
}
.button:hover{
    background-color: #10480D;
}
body{
    overflow-x: hidden;
}
body, p,.dropdown-item{
    font-family: 'Roboto', sans-serif;
  }
.nav-item{
    font-family: 'Dancing Script', serif;
    font-size: larger;
    color: #10480D !important;
  }
  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color:#10480D;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  }
  button{
    color: #10480D;
    background-color: #F8CCDA;
    border-radius: 5px;
  }
  #firstmeeting{
    transition: all;
  }
  #firstmeeting:hover{
    background-color: #F8CCDA;
  }
  #firstdate{
    transition: all;
  }
  #firstdate:hover{
    background-color: #F8CCDA;
  }
  #gfbf{
    transition: all;
  }
  #gfbf:hover{
    background-color: #F8CCDA;
  }
  #tucson{
    transition: all;
  }
  #tucson:hover{
    background-color: #F8CCDA;
  }
  #oneyear{
    transition: all;
  }
  #oneyear:hover{
    background-color: #F8CCDA;
  }
  #engagement{
    transition: all;
  }
  #engagement:hover{
    background-color: #F8CCDA;
  }
  #logo{
    transition: all;
  }
  #logo:hover{
    transform: scale(130%, 130%)
  }